/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Services Section
6.  Class Section
7.  Trainer Section
8.  Membership Plan Section
9.  Contact
10.  Footer Style

-------------------------------------------------------------------*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html, body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 12px;
	font-family: "Poppins", sans-serif;
	color: #6b6b6b;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}
img {
	max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}
ul, ol {
	padding: 0;
	margin: 0;
}
/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 45px;
}
.section-title h2 {
	color: #111111;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
}
.set-bg {
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-position: top center;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}
.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
	color: #fff;
}
/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 0px;
	color: #ffffff;
	text-align: center;
	width: 160px;
	height: 46px;
	border-left: 2px solid #eb3c5a;
	border-right: 2px solid #f67831;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831)), -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background-image: -o-linear-gradient(left, #eb3c5a 0%, #f67831 100%), -o-linear-gradient(left, #eb3c5a 0%, #f67831 100%);
	background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
	transition-duration: 1000ms;
	line-height: 45px;
	position: relative;
	z-index: 1;
}
.primary-btn:after {
	color: #fff;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	background: #f67831;
	background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background: -o-linear-gradient(left, #eb3c5a, #f67831);
	background: linear-gradient(to right, #eb3c5a, #f67831);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 1;
}
/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}
.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
/*---------------------
  Header
-----------------------*/
.header-section {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	/* border-bottom: 1px solid grey ;	 */
}
.logo {
	float: left;
}
.logo a {
	display: inline-block;
	padding: 15px 0 29px;
}
.nav-menu {
	float: right;
	padding: 24px 0 29px;
}
.nav-menu .mainmenu {
	display: inline-block;
}
.nav-menu .mainmenu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 27px;
}
.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}
.nav-menu .mainmenu ul li a {
	font-size: 16px;
	color: black;
	font-weight: 600;
	padding: 28px 0;
	position: relative;
}
.nav-menu .mainmenu ul li a:hover:after {
	opacity: 1;
}
.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 24px;
	width: 100%;
	height: 2px;
	background: #f15d44;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-menu .signup-btn {
	display: inline-block;
	margin: 16px 0px 16px 30px;
}
.nav-menu .signup-btn:after {
	opacity: 0;
}
.slicknav_menu {
	display: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }

/*---------------------
  Hero Section
-----------------------*/

.hero-section {
	height: 880px;
	padding-top: 335px;
}
.hero-text span {
	font-size: 14px;
	color: #f15d44;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}
.hero-text h1 {
	font-size: 62px;
	color: black;
	font-weight: 600;
	margin-top: 11px;
	margin-bottom: 18px;
}
.hero-text p {
	color: #ffffff;
	margin-bottom: 44px;
}
/*---------------------
  About Section
-----------------------*/

.about-pic {
	position: relative;
	
}
.about-pic img {
	min-width: 100%;
}
.about-pic .play-btn {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-41.5px, -41.5px);
	-ms-transform: translate(-41.5px, -41.5px);
	transform: translate(-41.5px, -41.5px);
}
.about-text {
	padding-top: 15px;
	padding-left: 40px;
}
.about-text h2 {
	font-size: 40px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 25px;
}
.about-text p {
	color: #6b6b6b;
}
.about-text p.first-para {
	margin-bottom: 10px;
}
.about-text p.second-para {
	margin-bottom: 50px;
}
.about-text img {
	margin-bottom: 25px;
}
.about-text .at-author h4 {
	font-size: 22px;
	color: #111111;
	font-weight: 600;
}
.about-text .at-author span {
	font-size: 12px;
	color: #f15d44;
}
.about-section.about-page .about-text {
	padding-top: 8px;
}
.about-section.about-page .about-text h2 {
	margin-bottom: 20px;
}
.about-section.about-page .about-text .second-para {
	margin-bottom: 28px;
}
/*---------------------
  Service Section
-----------------------*/

.services-pic {
	margin-left: -15px;
	margin-right: -15px;
}
.services-pic img {
	height: 660px;
	min-width: 100%;
}
.services-item {
	margin-left: -15px;
	margin-right: -15px;
	background: #141414;
	padding-top: 90px;
	position: relative;
	padding-left: 70px;
	padding-right: 45px;
	height: 330px;
}
.services-item.bg-gray {
	background: #1e1e1e;
}
.services-item.pd-b {
	padding-top: 90px;
}
.services-item img {
	position: absolute;
	left: 70px;
	top: 50px;
}
.services-item h4 {
	font-size: 22px;
	color: #ffffff;
	font-weight: 600;
	margin-top: 36px;
	margin-bottom: 20px;
}
.services-item p {
	color: #bdbdbd;
	margin-bottom: 0;
}


/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #111111;
	padding-top: 60px;
	padding-bottom: 30px;
}
.contact-option span {
	font-size: 14px;
	color: #f15d44;
}
.contact-option p {
	font-size: 16px;
	color: #ffffff;
	margin-top: 15px;
}
.subscribe-option {
	overflow: hidden;
	padding: 0 45px;
	margin-bottom: 30px;
	margin-top: 43px;
}
.subscribe-option .so-text {
	float: left;
	padding: 34px 0 26px;
}
.subscribe-option .so-text h4 {
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.subscribe-option .so-text p {
	margin-bottom: 0;
	font-size: 14px;
	color: #ffffff;
}
.subscribe-option .subscribe-form {
	float: right;
	width: 340px;
	position: relative;
	margin: 37px 0;
}
.subscribe-option .subscribe-form input {
	width: 100%;
	height: 46px;
	font-size: 14px;
	color: #bdbdbd;
	border: 1px solid #ffffff;
	padding-left: 22px;
}
.subscribe-option .subscribe-form button {
	font-size: 18px;
	color: #ffffff;
	background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background: -o-linear-gradient(left, #eb3c5a, #f67831);
	background: linear-gradient(to right, #eb3c5a, #f67831);
	border: none;
	height: 46px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 22px;
}
.copyright-text {
	overflow: hidden;
}
.copyright-text p {
	padding-top: 6px;
	float: left;
	color: #ffffff;
	margin-right: 25px;
	display: inline-block;
}
.copyright-text p a {
	color: #ffffff;
}
.copyright-text p a:hover {
	color: #eb3c5a;
}
.copyright-text ul {
	display: inline-block;
}
.copyright-text ul li {
	list-style: none;
	font-size: 16px;
	display: inline-block;
	margin-right: 25px;
	line-height: 40px;
}
.copyright-text ul li:last-child {
	margin-right: 0;
}
.copyright-text ul li a {
	color: #ffffff;
}
.copyright-text ul li:last-child {
	margin-right: 0;
}
.copyright-text .footer-social {
	float: right;
}
.copyright-text .footer-social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	background: #282828;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-left: 4px;
}
.copyright-text .footer-social a:first-child {
	margin-left: 0;
}
.copyright-text .footer-social a:hover {
	background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background: -o-linear-gradient(left, #eb3c5a, #f67831);
	background: linear-gradient(to right, #eb3c5a, #f67831);
}
/*---------------------
  Breadcrumb Section
-----------------------*/

.breadcrumb-section {
	padding-top: 190px;
	height: 400px;
}
.breadcrumb-text {
	text-align: center;
}
.breadcrumb-text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.breadcrumb-text .breadcrumb-option a {
	font-size: 16px;
	color: #ffffff;
	display: inline-block;
	margin-right: 10px;
	position: relative;
}
.breadcrumb-text .breadcrumb-option a:after {
	position: absolute;
	right: -10px;
	top: 0;
	content: "ï„…";
	font-family: "FontAwesome";
}
.breadcrumb-text .breadcrumb-option span {
	font-size: 16px;
	color: #bdbdbd;
	display: inline-block;
}

/*---------------------
  Map Section
-----------------------*/

.map {
	height: 612px;
	position: relative;
}
.map iframe {
	width: 100%;
}
.map img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-14px, -21px);
	-ms-transform: translate(-14px, -21px);
	transform: translate(-14px, -21px);
}

/*---------------------
  Contact Section
-----------------------*/
.contact-form h4 {
	font-weight: 600;
	color: #111111;
	text-transform: uppercase;
	margin-bottom: 47px;
}

.contact-form form input {
	width: 100%;
	height: 51px;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	font-size: 16px;
	margin-bottom: 30px;
}
.contact-form form input::-webkit-input-placeholder {
	color: #9a9a9a;
}
.contact-form form input::-moz-placeholder {
	color: #9a9a9a;
}
.contact-form form input:-ms-input-placeholder {
	color: #9a9a9a;
}
.contact-form form input::-ms-input-placeholder {
	color: #9a9a9a;
}
.contact-form form input::placeholder {
	color: #9a9a9a;
}
.contact-form form input:focus {
	color: #111111;
}
.contact-form form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	font-size: 16px;
	padding-top: 10px;
	margin-bottom: 42px;
	resize: none;
}
.contact-form form textarea::-webkit-input-placeholder {
	color: #9a9a9a;
}
.contact-form form textarea::-moz-placeholder {
	color: #9a9a9a;
}
.contact-form form textarea:-ms-input-placeholder {
	color: #9a9a9a;
}
.contact-form form textarea::-ms-input-placeholder {
	color: #9a9a9a;
}
.contact-form form textarea::placeholder {
	color: #9a9a9a;
}
.contact-form form textarea:focus {
	color: #111111;
}
.contact-form form button {
	font-size: 14px;
	color: #ffffff;
	padding: 10px 33px;
	display: inline-block;
	background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background: -o-linear-gradient(left, #eb3c5a, #f67831);
	background: linear-gradient(to right, #eb3c5a, #f67831);
	border: none;
	text-transform: uppercase;
}
